.App {
  text-align: center;
	display: flex;
	flex-direction: row;
}


.App-side {
  background-color: #222;
  height: 500px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-main {
	border: 1px solid red;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.Items {
	border: 1px solid lightblue;
  width: 100%;
  margin: 10px;
}

.Item {
  display: flex;
}

.Comments {
	border: 1px solid lightblue;
  width: 100%;
  margin: 10px;
}

.Comment {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Rectangle {
  background-color: orange;
  height: 50px;
  width: 50px;
}

.NewComment {
  display: flex;
  flex-direction: row;
}

.NewRectangle {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}
